html,body{
	margin:0;
	padding:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height:1.6;
	color:#fff;
}

body{
	background: #1f1f1f;
}

header{
	background:#1f1f1f;
	padding: 1em;
	border-radius:0;
	box-shadow: 0 0 10px rgba(0,0,0,.16);
}

section{
	padding: 1em;
	overflow: hidden;
}

h1{
	margin:0;
	color:#fff;
}
h3{
	margin: 0 0 .5em;
}
h4{
	margin: 0 0 1em;
}
.t-dark{
	color:#444;
}
.t-light{
	color:#fff;
}

img{
	max-width: 100%;
	border-radius: 20px;
	box-shadow: 0 0 250px rgba(255,255,255,.5);
}

section.landscape{
	background:url('assets/images/landscape-720-blur.jpg');
}
section.nature{
	background:url('assets/images/nature-720-blur.jpg');
}
section.neon{
	background:url('assets/images/neon-720-blur.jpg');
}
section.simple{
	background:url('assets/images/simple-720-blur.jpg');
}
section.space{
	background:url('assets/images/space-720-blur.jpg');
}
section.landscape,
section.nature,
section.neon,
section.simple,
section.space{
	background-size: cover;
	background-position:center;
}